footer{
    display: flex;
    color: $celeste;
    background-color: transparent;
    font-family: $font-titulo;
    font-weight: bold;
    justify-content: space-evenly;
    border-top: lightgray solid 2px;
    margin-top: 2rem;
    }